<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1 class="title">{{ username }}</h1>
        <form action="{{ url_for('login') }}">
            <input class="primary-button" type="submit" value="Logout" />
        </form>
    </header>
    <div class="centered">
        <form action="{{ url_for('editor') }}">
            <input class="primary-button" type="submit" value="Editor" />
        </form>        
    </div>
</body>
</html>