<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <title>Dashboard</title>
</head>
<body id="dashboard-body">
    <header id="dashboard-header">
        <div class="header-left">
            <svg width="52px" height="52px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3562 15.2061L10.9313 16.6311C10.5378 17.0246 10.562 17.674 10.7105 18.2103C10.9908 19.2235 10.6058 20.519 9.86257 21.2622C8.87884 22.2459 7.28391 22.2459 6.30018 21.2622C5.31645 20.2785 5.31646 18.6835 6.30018 17.6998C5.31646 18.6835 3.72152 18.6835 2.73779 17.6998C1.75407 16.7161 1.75407 15.1212 2.73779 14.1374C3.48101 13.3942 4.77646 13.0092 5.7897 13.2895C6.32603 13.438 6.97541 13.4622 7.3689 13.0687L13.0687 7.3689C13.4622 6.97541 13.438 6.32603 13.2895 5.7897C13.0092 4.77646 13.3942 3.48102 14.1374 2.73779C15.1212 1.75407 16.7161 1.75407 17.6998 2.73779C18.6835 3.72152 18.6835 5.31646 17.6998 6.30018C18.6835 5.31646 20.2785 5.31646 21.2622 6.30018C22.2459 7.28391 22.2459 8.87884 21.2622 9.86257C20.519 10.6058 19.2235 10.9908 18.2103 10.7105C17.674 10.562 17.0246 10.5378 16.6311 10.9313L15.2061 12.3562" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <button id="add-button" class="primary-button">Create new project</button>
        </div>
        <div class="header-right">
            <div class="search-container">
                <form action="">
                    <input class="search-field" type="text" placeholder="Search..." name="search">
                </form>
                <button class="search-button" type="submit">
                    <svg class="search-logo" width="27px" height="27px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            <form action="{{ url_for('logout') }}" class="logout-form">
                <button id="logout-button" class="primary-button">Logout</button>
            </form>
        </div>
    </header>
    <main id="dashboard-main">
        <div class="dashboard-layout">
            {% for project in projects %}
                <div id="{{ project['id'] }}" class="project-container">
                    <img src="../static/images/empty.jpg" alt="editor1" width="200" height="200">
                    <div class="title-card">
                        <h1 class="project-name">{{ project["name"] }}</h1>
                        <p>{{ project["updated_at"] }}</p>
                    </div>
                    <form action="{{ url_for('editor') }}">
                        <div class="button-row">
                            <input class="secondary-button" type="submit" value="Editor" />
                            <button class="delete-button danger-button" type="button">Delete</button>
                        </div>
                    </form> 
                </div>
            {% endfor %}
            <div class="project-container">
                <img src="../static/images/sacrum.jpg" alt="editor1" width="200" height="200">
                <div class="title-card">
                    <h1>Example</h1>
                    <p>15:15 | 25.04.2024</p>
                </div>
                <form action="{{ url_for('editor') }}">
                    <div class="button-row">
                        <input class="secondary-button" type="submit" value="Editor" />
                        <button class="delete-button danger-button" type="button">Delete</button>
                    </div>
                </form> 
            </div>
        </div>
    </main>
    <div id="add-popup" class="popup">
        <h1>Create new project</h1>
        <form method="post">
            {{ add_form.hidden_tag() }}
            
            {{ add_form.name(class="form-control", autocomplete="off") }}
            <label for="add-3d-file" class="file-upload">3D file</label>
            <input id="add-3d-file" class="file-field" type="file">
            <div class="button-row">
                {{ add_form.submit(class="primary-button") }}
                <button id="add-cancel-button" class="terciary-button" type="button">Cancel</button>
            </div>
        </form>
    </div>
    <div id="edit-popup" class="popup">
        <form method="post">
            {{ edit_form.hidden_tag() }}

            {{ edit_form.edit_id(id="edit-id", type="hidden") }}
            <input id="edit-old-name" class="form-control disabled-input" type="text" disabled>
            {{ edit_form.new_name(id="edit-name", class="form-control", autocomplete="off") }}
            <div class="button-row">
                {{ edit_form.submit(class="primary-button") }}
                <button id="edit-cancel-button" class="terciary-button" type="button">Cancel</button>
            </div>
        </form>
    </div>
    <div id="danger-popup" class="popup">
        <form method="post">
            {{ delete_form.hidden_tag() }}

            {{ delete_form.delete_id(id="delete-id", type="hidden") }}
            <h1>Do you really want to delete this project?</h1>
            <input id="delete-old-name" class="form-control disabled-input" type="text" disabled>
            <div class="button-row">
                {{ delete_form.submit(class="danger-button") }}
                <button id="delete-cancel-button" class="terciary-button" type="button">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>