<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <title>Editor</title>
</head>
<body>
    <div class="render-nav">
        <input type="file" id="file-input" />
        <button id="render-button">Render</button>
    </div>
</body>
</html>