<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <title>Editor</title>
</head>
<body id="{{ project_id }}">
    <div id="project-id" class="hidden-info">{{ project_id }}</div>
    <div id="active-template-id" class="hidden-info">{{ active_template_id }}</div>
    <header id="editor-header">
        <div class="header-left">
            <svg width="52px" height="52px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3562 15.2061L10.9313 16.6311C10.5378 17.0246 10.562 17.674 10.7105 18.2103C10.9908 19.2235 10.6058 20.519 9.86257 21.2622C8.87884 22.2459 7.28391 22.2459 6.30018 21.2622C5.31645 20.2785 5.31646 18.6835 6.30018 17.6998C5.31646 18.6835 3.72152 18.6835 2.73779 17.6998C1.75407 16.7161 1.75407 15.1212 2.73779 14.1374C3.48101 13.3942 4.77646 13.0092 5.7897 13.2895C6.32603 13.438 6.97541 13.4622 7.3689 13.0687L13.0687 7.3689C13.4622 6.97541 13.438 6.32603 13.2895 5.7897C13.0092 4.77646 13.3942 3.48102 14.1374 2.73779C15.1212 1.75407 16.7161 1.75407 17.6998 2.73779C18.6835 3.72152 18.6835 5.31646 17.6998 6.30018C18.6835 5.31646 20.2785 5.31646 21.2622 6.30018C22.2459 7.28391 22.2459 8.87884 21.2622 9.86257C20.519 10.6058 19.2235 10.9908 18.2103 10.7105C17.674 10.562 17.0246 10.5378 16.6311 10.9313L15.2061 12.3562" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="dropdown">
                <button class="dropdown-button secondary-button">Change template</button>
                <div class="dropdown-content">
                    {% for template in all_templates %}
                        {% if template.id == active_template_id %}
                            <button id="{{ template.id }}" class="dropdown-item active">{{ template.name }}</button>
                        {% else %}
                            <button id="{{ template.id }}" class="dropdown-item">{{ template.name }}</button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <label id="3d-file-label" for="3d-file" class="file-upload">Load STL</label>
            <input id="3d-file" class="file-field" type="file" />
            <button id="reset-camera" class="primary-button">Reset camera</button>
        </div>
        <div class="header-right">
            <button id="save-button" class="primary-button">Save</button>
            <form action="{{ url_for('dashboard') }}">
                <button id="logout-button" class="primary-button">Exit</button>
            </form>
        </div>
    </header>
    <div id="info-div">
        <p id="info-text">Saving...</p>
    </div>
    <div id="estimate-div">
        <p>Sex: ?</p>
        <button id="results-button" class="primary-button">Results</button>
        <button id="calculate-button" class="primary-button">Calculate</button>
    </div>
    <div id="manipulation-div">
        <div id="manipulation-nav">
            <button id="rotation-nav-btn" class="primary-button">Rotation</button>
            <button id="shift-nav-btn" class="primary-button">Shift</button>
            <button id="options-nav-btn" class="primary-button">Settings</button>
        </div>
        <div id="rotation-div" class="transform-div active">
            <div class="rotation-input">
                <p>X</p>
                <input type="range" min="0" max="360" value="0" class="slider" id="x-rotation">
                <p id="x-rotation-value">0</p>
            </div>
            <div class="rotation-input" class="transform-div">
                <p>Y</p>
                <input type="range" min="0" max="360" value="0" class="slider" id="y-rotation">
                <p id="y-rotation-value">0</p>
            </div>
            <div class="rotation-input" class="transform-div">
                <p>Z</p>
                <input type="range" min="0" max="360" value="0" class="slider" id="z-rotation">
                <p id="z-rotation-value">0</p>
            </div>
        </div>
        <div id="shift-div" class="transform-div">
            <div class="rotation-input">
                <p>X</p>
                <input type="number" value="0" class="slider" id="x-shift">
            </div>
            <div class="rotation-input" class="transform-div">
                <p>Y</p>
                <input type="number" value="0" class="slider" id="y-shift">
            </div>
            <div class="rotation-input" class="transform-div">
                <p>Z</p>
                <input type="number" value="0" class="slider" id="z-shift">
            </div>
        </div>
        <div id="options-div" class="transform-div">
        </div>
    </div>
    <div id="results-popup" class="popup">
        <table>
            <tr>
                <th>Distance</th>
                <th>Value</th>
            </tr>
            {% for item in M_distances.items() %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td id="{{ item[0] }}" class="m-value">{{ item[1] }}</td>
                </tr>
            {% endfor %}
        </table>
        <button id="results-cancel" class="terciary-button">Cancel</button>
    </div>
    <div id="anot-popup" class="popup">
        <h1>New annotation</h1>
        <div>
            <input class="form-control" type="text" placeholder="Annotation text">
            <input type="color" value="#000000;">
        </div>
        <div class="button-row">
            <button id="annot-add-button" class="primary-button">Add</button>
            <button id="annot-cancel-button" class="terciary-button" type="button">Cancel</button>
        </div>
    </div>
</body>
</html>